*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3475ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content{
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2{
    color: #fff;
    font-size: 60px;
}

.banner .content p{
    color: #fff;
    font-size: 18px;
}

.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.banner header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner header .toggle{
    position: relative;
    width: 2rem;
    height: 1.8rem;
    background: url(images/toggle.png);
    background-size: cover;
    cursor: pointer;
}

.about{
    position: relative;
    width: 100%;
    display: flex;
}

.about .contentBx{
    background: #162c3b;
    padding: 100px;
    width: 50%;
}

.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.text{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.imgBx{
    width: 50%;
    background: url("images/window.jpg");
    background-size: cover;
    background-position: center;
    
}

.serviceBx{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service{
    background: #162c3b;
    text-align: center;
    padding: 100px;
    color: #fff;
}

.serviceImg{
    background: #fff;
    padding: 60px 60px;
    margin: 40px 30px;
}

.serviceBx h2{
    color: #000;
    font-weight: 500;
    font-size: 28px;
}

.technology{
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    display: flex;
    padding-top:300px;
    margin-top: -300px;
    
}

.technology .heading{
    color: #fff;;
    margin-bottom: 10px;
    
}

.technology .ContentBx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client{
    background: #162c2b;
    text-align: center;
    padding: 100px;
}
.client .imgBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .imgBox img{
    max-width: 200px;
    margin: 30px;
    padding-top: 30px;
    opacity: 0.25;
    cursor: pointer;
}

.client .imgBox img:hover{
    opacity: 1;
}

.testimonials{
    position: relative;
    padding: 100px;
    background: #12222d;
    text-align: center;
}

.testimonials h3p{
    color: #000;
}

.testimonials .big{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.testimonials .contentBx{
    background: #fff;
    padding: 60px 50px;
    width: 550px;
    margin: 30px;
    text-align: left;
}

.testimonials .contentBx p{
    color: #000;
    font-style: italic;
    font-weight: 500;
}

.testimonials .contentBx h3{
    width: 100%;
    text-align: end;
    font-weight: 600;
    color: #3f8ffc;
}

.contact{
    padding: 100px;
    background: #162c3b;
    text-align: center;
}

.contact .about{
    margin-top: 100px;
}

.imgBox2{
    background: url("images/bg2.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
}

.redbg{
    background: url("images/red.jpg") !important;
    background-size: cover;
    background-position: center;
}

.inputBx{
    margin-bottom: 40px;
}

.inputBx input{
    width: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background: transparent;
    border-bottom: 2px solid #fff;
}
.inputBx input::placeholder{
    color: #fff;
}

.inputBx textarea{
    width: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    min-height: 150px;
    color: #fff;
    background: transparent;
    border-bottom: 2px solid #fff;
}
.inputBx textarea::placeholder{
    color: #fff;
}

.inputBx input[type="submit"]{
    width: 150px;
    background: #fff;
    color: #000;
    float: left;
    cursor: pointer;
}

.footer{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li{
    list-style-type: none;
}

.footer ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;

}

.footer ul li a img{
    filter: invert(1);
    max-width: 20px;
}

/* media quesry is strating here */
@media (max-width:991px) {
    .banner{
        padding: 50px;
    }

    .banner header{
        padding: 20px 50px;
    }
    .banner .content h2{
        font-size: 36px;
    }
    .banner .content p{
        font-size: 16px;
    }
    .about{
        flex-direction: column;
    }
    .about .contentBx {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
        line-height: 2;
    }
    .imgBx{
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .service {
        padding: 50px;
    }
    
    .serviceBx {
        display: flex;
        flex-direction: column;
    }

    .serviceImg{
        margin-top: 20px;
        margin: 20px;
        min-width: 50%;
    }

    .technology {
        padding: 50px;
    }
    
    .technology .ContentBx{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .technology .writing{
        margin-top: 10px;
        padding-top: 250px;
        width: 100%;
        text-align: center;
    }

    .technology .imageBx{
        margin-top: 40px;
    }

    .technology .imageBx img{
        width: 100%;
    }

    .client{
        padding: 50px;
    }

    .text{
        margin-top: 20px;
    }

    .client .imgBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contact{
        width: 100%;
    }

    .imgBox2{
        display: none;
    }

    .footer{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .desc{
        margin: 10px;
    }
}